body {
  background-color: #242424;
  color: #aaaaaa;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  text-align: left;
  width: 96%;
}

a, a:link, a:visited {
  color: #999999;
  text-decoration: underline;
}

a:hover {
  color: #dadada;
}

/* remove SMALLCAPS style and dotted underline from some browsers */
abbr[title] {
  text-decoration: none;
  font-variant: none;
  border-bottom: none;
}

abbr[title="exposure"]::after { content: "s" }
abbr[title="film speed"]::before { content: "ISO " }
abbr[title="aperture"]::before { content: "f/" }
abbr[title="focal length"]::after { content: "mm" }
abbr[title="camera make and model"], abbr[title="date"] {
    display: block;
}

/* header */
header {
  padding: 1em 0;
  color: #dadada;
}
header h1, header h2 {
  color: #dadada;
  margin: 10px 0;
}
header h1 a, header h1 a:link, header h1 a:visited,
header h2 a, header h2 a:link, header h2 a:visited {
  color: #dadada;
  text-shadow: 0 2px 0 #000;
  text-decoration: none;
}
header h1 a:hover, header h2 a:hover {
  color: #fff;
  text-decoration: none;
}

/* gallery */
#albums ul {
  list-style-type: none;
  padding-left: 0;
}
#albums ul li {
  display: inline-block;
  margin: 0 25px 25px 0;
  text-align: center;
  vertical-align: top;
  width: 280px;
}

#albums ul li a img {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}
#albums ul li a:hover img {
  opacity: .5;
}

.album_title {
  display: block;
  color: #dadada;
  font-size: 1.3em;
  font-variant: small-caps;
  font-weight: bold;
}

/* footer */
footer {
  clear: both;
  display: block;
  margin: 1em 0;
  text-align: center;
}
footer a:link, footer a:visited {
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
footer span:not(:last-child):after {
  content: ' - ';
}

/* Center and crop album thumbnails
  https://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/
 */
.album_thumb {
  position: relative;
  width: 280px;
  height: 210px;
  overflow: hidden;
}
.album_thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.album_thumb img.album_thumb_portrait {
  width: 100%;
  height: auto;
}
